@font-face {
  font-family: "Nyght-Serif";
  src: url("../fonts/NyghtSerif-LightItalic.woff2") format("woff2"),
    url("../fonts/NyghtSerif-LightItalic.woff") format("woff"),
    url("../fonts/NyghtSerif-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Switzer-Medium";
  src: url("../fonts/Switzer-Medium.woff2") format("woff2"),
    url("../fonts/Switzer-Medium.woff") format("woff"),
    url("../fonts/Switzer-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.link {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
html {
  height: 100vh;
}
body {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: rgba(38, 52, 58, 0.7);
  background-color: #d5dcde;
  background-image: linear-gradient(180deg, #eaefe8 0%, #c2d2d1 100%);
}

.container {
  max-width: 375px;
  padding: 0 10px;
  margin: 0 auto;
}

.page-header {
  padding: 70px 0 15px 0;
}

.hero-img-thumb {
  display: block;
  margin: 0 auto;
  width: 352px;
  height: 476px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 355px;
  box-shadow: 0 14px 34px 0 rgba(139, 157, 146, 0.31);
  background-image: url("../img/yana.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-section {
  padding: 15px 0 20px 0;
}

.main-section .container {
  padding: 0 40px;
}

.main-title {
  font-family: "Nyght-Serif", sans-serif;
  font-weight: 300;
  font-size: 58px;
  line-height: 1.1;
  letter-spacing: -0.06em;
  text-align: center;
  margin-bottom: 10px;
  color: #26343a;
}

.main-subtitle {
  display: block;
  font-family: "Switzer-Medium", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.1;
  letter-spacing: -0.06em;
  text-align: center;
  margin-bottom: 28px;
  color: #97a3a2;
}

.main-descr {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.03em;
  text-align: center;
  margin-bottom: 30px;
  max-width: 295px;
  /* text-wrap: balance; */
}

.main-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 295px;
  height: 66px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 88px;
  box-shadow: 0 14px 34px 0 rgba(139, 157, 146, 0.31);
  background: #eef2f3;
  font-size: 18px;
  line-height: 1.1;
  letter-spacing: -0.06em;
  text-align: center;
  color: #26343a;
  margin-bottom: 50px;
}

.social-links-list {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 67px;
  height: 67px;
  fill: #26343a;
  border: 1px solid rgba(255, 255, 255, 0.6);
  box-shadow: 0 14px 34px 0 rgba(139, 157, 146, 0.31);
  border-radius: 100px;
  background: rgba(255, 255, 255, 0.3);
}

/* LANGUAGE-TOOGLE-SECTION */

.language-toogle-section {
  padding: 20px 0 50px 0;
}

.lang-btn-list {
  display: flex;
  gap: 7px;
  align-items: center;
  justify-content: center;
}

.lang-btn-list::before {
  display: block;
  content: " ";
  width: 13px;
  height: 13px;
  background-image: url("../img/lang.svg");
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 8px;
  fill: rgba(0, 0, 0, 0.5);
}

.language-btn-list-item {
  display: flex;
  align-items: center;
}

.language-btn-list-item:not(:last-child)::after {
  display: block;
  content: "";
  width: 4px;
  height: 4px;
  border-radius: 100%;
  background-color: rgba(0, 0, 0, 0.23);
  margin-left: 9px;
}

.language-btn {
  border: none;
  padding: 0;
  line-height: normal;
  background-color: transparent;
  font-weight: 600;
  font-size: 13px;
  letter-spacing: -0.04em;
  color: rgba(0, 0, 0, 0.23);
  cursor: pointer;
}

.isActiveLangBtn {
  color: rgba(0, 0, 0, 0.5);
}

.footer-section {
  padding: 40px 0 40px 0;
  position: relative;
}

.footer-section::before {
  display: block;
  content: "";
  width: 355px;
  height: 2px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="355" height="2" viewBox="0 0 355 2" fill="none"><path d="M0 1H355" stroke="url(%23paint0_radial_216_882)" /><defs><radialGradient id="paint0_radial_216_882" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(177.5 1.5) scale(177.5 0.5)"><stop stop-color="white" /><stop offset="1" stop-color="white" stop-opacity="0" /></radialGradient></defs></svg>');
  background-repeat: no-repeat;
}

.privacy-policy {
  margin: 0 auto;
  max-width: 190px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: -0.04em;
  text-align: center;
  color: rgba(38, 52, 58, 0.2);
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 522px;
    padding: 0 10px;
    margin: 0 auto;
  }

  .page-header {
    padding: 30px 0 15px 0;
  }

  .hero-img-thumb {
    display: block;
    margin: 0 auto;
    width: 352px;
    height: 476px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 355px;
    box-shadow: 0 14px 34px 0 rgba(139, 157, 146, 0.31);
    background-image: url("../img/yana.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .main-section {
    padding: 15px 0 25px 0;
  }

  .main-section .container {
    padding: 0 10px;
  }

  .main-title {
    font-family: "Nyght-Serif", sans-serif;
    font-weight: 300;
    font-size: 58px;
    line-height: 1.1;
    letter-spacing: -0.06em;
    text-align: center;
    margin-bottom: 10px;
    color: #26343a;
  }

  .main-subtitle {
    display: block;
    font-family: "Switzer-Medium", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.1;
    letter-spacing: -0.06em;
    text-align: center;
    margin-bottom: 28px;
    color: #97a3a2;
  }

  .main-descr {
    display: block;
    max-width: 432px; /* Подбор на глаз*/
    margin: 0 auto;
    margin-bottom: 40px;
  }

  .main-link {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 335px;
    height: 66px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 88px;
    box-shadow: 0 14px 34px 0 rgba(139, 157, 146, 0.31);
    background: #eef2f3;
    font-size: 18px;
    line-height: 1.1;
    letter-spacing: -0.06em;
    text-align: center;
    color: #26343a;
    margin-bottom: 50px;
  }

  .social-links-list {
    display: flex;
    justify-content: center;
    gap: 5px;
  }

  .social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 67px;
    height: 67px;
    fill: #26343a;
    border: 1px solid rgba(255, 255, 255, 0.6);
    box-shadow: 0 14px 34px 0 rgba(139, 157, 146, 0.31);
    border-radius: 100px;
    background: rgba(255, 255, 255, 0.3);
  }

  /* LANGUAGE-TOOGLE-SECTION */

  .language-toogle-section {
    padding: 25px 0 59px 0;
  }

  .lang-btn-list {
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: center;
  }

  .lang-btn-list::before {
    display: block;
    content: " ";
    width: 13px;
    height: 13px;
    background-image: url("../img/lang.svg");
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 3px;
    fill: rgba(0, 0, 0, 0.5);
  }

  .language-btn-list-item {
    display: flex;
    align-items: center;
  }

  .language-btn-list-item:not(:last-child)::after {
    display: block;
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 0.23);
    margin-left: 12px;
  }

  .language-btn {
    border: none;
    padding: 0;
    line-height: normal;
    background-color: transparent;
    font-weight: 600;
    font-size: 13px;
    letter-spacing: -0.04em;
    color: rgba(0, 0, 0, 0.23);
    cursor: pointer;
  }

  .isActiveLangBtn {
    color: rgba(0, 0, 0, 0.5);
  }

  .footer-section {
    padding: 40px 0 40px 0;
    position: relative;
  }

  .footer-section::before {
    display: block;
    content: "";
    width: 760px;
    height: 2px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="760" height="2" viewBox="0 0 760 2" fill="none"><path d="M0 1H760" stroke="url(%23paint0_linear_273_2343)" stroke-opacity="0.6"/><defs><linearGradient id="paint0_linear_273_2343" x1="0" y1="1.5" x2="760" y2="1.5" gradientUnits="userSpaceOnUse"><stop stop-color="%23CBD8D6"/><stop offset="0.501316" stop-color="white"/><stop offset="1" stop-color="%23C6D5D3"/></linearGradient></defs></svg>');
    background-repeat: no-repeat;
  }

  .privacy-policy {
    margin: 0 auto;
    max-width: 190px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: -0.04em;
    text-align: center;
    color: rgba(38, 52, 58, 0.2);
  }
}
